include templates/header.pug 

h1 Manage Account 

h2 Welcome #{fullName}
p Manage information, services and security.

a(href="/html/account-info.html") Personal Info 
a(href="/html/services-info.html") Services 
a(href="/html/security-info.html") Security  

include templates/footer.pug