include templates/header.pug 

h1 Reset Password 
p Email: #{emailAddress}

form(action="/api/account/reset/password/" + reset_id, method="post")
  input(type="password", name="password")
  input(type="password", name="passwordConfirm")
  input(type="submit", value="submission")

include templates/footer.pug